#hboxInfo{
    -fx-background-color: rgba(255,0,0,0.2);
    -fx-padding: 10;
}

#imgView{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20, 0.3, 0, 0);
}

VBox{
    -fx-alignment: bottom-center;
}


Label{
	-fx-alignment: center;
}