#paneLeft{
    -fx-cursor: hand;
    -fx-rotate: 90;
}

#paneCenter{

}

#paneRight{
    -fx-cursor: hand;
    -fx-rotate: 270;
}

#paneBottom{

}

#imgView{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

#vertText{
    -fx-font-size: 80pt;
    -fx-font-weight: bolder;
    -fx-text-fill: rgba(100,100,100,0.15);
    -fx-alignment: center;
}
#vertText:hover{
    -fx-text-fill: rgba(100,100,100,0.5);
}

#infoTextFirstLine{
    -fx-font-size: 36pt;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(50,50,50);
}

#infoTextSecondLine{
    -fx-font-size: 32pt;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(65,65,65);
}

/*
infoTextFirstLine infoTextSecondLine
*/